<heading title="Naruto characters"></heading>
<div class="container">
  <div class="characters">
    <div id="naruto-character" class="character-container">
      <div class="character-image">
        <img src="assets/naruto.png" alt="Naruto">
      </div>
      <div class="character-info">
        <h2>Naruto</h2>
        <p>Naruto Uzumaki is a ninja in Konoha. He is the leader of the Konohagakure and the main protagonist of the manga series. He is the strongest of the Konohagakure, and is the strongest of all ninja in the world.</p>
      </div>
    </div>
    <div id="naruto-character" class="character-container">
      <div class="character-image">
        <img src="assets/sasuke.png" alt="Sasuke">
      </div>
      <div class="character-info">
        <h2>Sasuke</h2>
        <p>Sasuke Uchiha is a ninja in Konoha. He is the main protagonist of the manga series. He is the strongest of the Konohagakure, and is the strongest of all ninja in the world.</p>
      </div>
    </div>
  </div>
</div>
